<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>        
        <dict>
            <key>left_hand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,84},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>right_out_bg_1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>right_out_bg_2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,532},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>oppo_out_bg_1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,272},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>right_out_bg_4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,325},{75,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>right_out_bg_4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,370},{75,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>right_out_bg_4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,536},{75,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>right_out_bg_4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,645},{75,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>right_out_bg_3-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,415},{88,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,44}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>right_out_bg_3-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,461},{88,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,44}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>right_out_bg_3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{88,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,44}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>right_out_bg_3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,561},{88,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,44}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>right_out_bg_3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,581},{88,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,44}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>right_out_bg_3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,624},{88,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,44}}</string>
                <key>sourceSize</key>
                <string>{88,44}</string>
            </dict>
            <key>right_out_bg_2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,486},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>right_out_bg_2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,507},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>oppo_out_bg_4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,698},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>right_hand_1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>oppo_out_bg_4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>oppo_out_bg_3-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,660},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>oppo_out_bg_3-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,660},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>oppo_out_bg_3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,680},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>oppo_out_bg_3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,680},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>oppo_out_bg_3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,723},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>oppo_out_bg_3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,723},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>oppo_out_bg_2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,744},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>oppo_out_bg_4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,690},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>oppo_out_bg_2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,744},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>oppo_out_bg_2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,752},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>oppo_out_bg_2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,752},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>oppo_out_bg_2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>oppo_out_bg_2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,714},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>oppo_out_bg_2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,714},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>oppo_out_bg_1-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,607},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>right_out_bg_1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,469},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>oppo_out_bg_1-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,627},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>oppo_out_bg_1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,670},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>oppo_out_bg_2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,734},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>oppo_out_bg_1-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,627},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>right_hand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>oppo_out_bg_1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,645},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>oppo_out_bg_1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,670},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>oppo_out_bg_1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,483},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>oppo_out_bg_1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>oppo_out_bg_1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,430},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>oppo_out_bg_1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,377},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>right_hand_1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,302},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>right_hand_1-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>oppo_out_bg_1-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,219},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>oppo_out_bg_1-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,166},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>oppo_out_bg_4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,690},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>right_hand_1-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,227},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>oppo_out_bg_1-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,607},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>right_hand_1-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>right_hand_1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,152},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>right_hand_1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>right_hand_1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,77},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>right_hand_1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,77},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>right_hand_1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>right_hand_1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>right_hand_1-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>right_hand_1-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,152},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>right_hand_1-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,227},{148,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{148,73}</string>
            </dict>
            <key>right_out_bg_1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,440},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>right_out_bg_1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,423},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>right_out_bg_1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>right_out_bg_1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,394},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>right_out_bg_1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,377},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>right_out_bg_1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>right_out_bg_1-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,348},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>right_out_bg_1-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,302},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>right_out_bg_2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,599},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>right_out_bg_2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,578},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
        </dict>
        <key>right_out_bg_2-3.png</key>
        <dict>
            <key>frame</key>
            <string>{{108,515},{104,44}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{104,44}}</string>
            <key>sourceSize</key>
            <string>{104,44}</string>
        </dict>
        <key>right_out_bg_2-4.png</key>
        <dict>
            <key>frame</key>
            <string>{{2,515},{104,44}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{104,44}}</string>
            <key>sourceSize</key>
            <string>{104,44}</string>
        </dict>
        <key>right_out_bg_2-5.png</key>
        <dict>
            <key>frame</key>
            <string>{{403,553},{104,44}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{104,44}}</string>
            <key>sourceSize</key>
            <string>{104,44}</string>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_pin1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f09d9e7818c8c54a156cd46da28b2cbe$</string>
            <key>textureFileName</key>
            <string>card_pin1.png</string>
        </dict>
    </dict>
</plist>
