<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>        <key>1_3_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{408,286},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>timer_0.png</key>
        <dict>
            <key>frame</key>
            <string>{{74,244},{34,22}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{34,22}}</string>
            <key>sourceSize</key>
            <string>{34,22}</string>
        </dict>
        <key>timer_8.png</key>
        <dict>
            <key>frame</key>
            <string>{{134,112},{34,22}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{34,22}}</string>
            <key>sourceSize</key>
            <string>{34,22}</string>
        </dict>
        <key>hua.png</key>
        <dict>
            <key>frame</key>
            <string>{{478,210},{30,30}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{30,30}}</string>
            <key>sourceSize</key>
            <string>{30,30}</string>
        </dict>
        <key>time_bg.png</key>
        <dict>
            <key>frame</key>
            <string>{{356,164},{78,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{78,36}}</string>
            <key>sourceSize</key>
            <string>{78,36}</string>
        </dict>
        <key>timer_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{470,362},{34,22}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{34,22}}</string>
            <key>sourceSize</key>
            <string>{34,22}</string>
        </dict>
        <key>1_2_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{402,324},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>4_1_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{202,312},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>3_2_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{398,202},{36,40}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{36,40}}</string>
            <key>sourceSize</key>
            <string>{36,40}</string>
        </dict>
        <key>2_2_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{42,312},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>huan3_wait.png</key>
        <dict>
            <key>frame</key>
            <string>{{2,266},{364,44}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{364,44}}</string>
            <key>sourceSize</key>
            <string>{364,44}</string>
        </dict>
        <key>2_1_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{122,312},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>3_1_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{436,210},{40,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{40,36}}</string>
            <key>sourceSize</key>
            <string>{40,36}</string>
        </dict>
        <key>timer_6.png</key>
        <dict>
            <key>frame</key>
            <string>{{434,362},{34,22}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{34,22}}</string>
            <key>sourceSize</key>
            <string>{34,22}</string>
        </dict>
        <key>4_3_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{242,312},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>timer_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{2,244},{34,22}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{34,22}}</string>
            <key>sourceSize</key>
            <string>{34,22}</string>
        </dict>
        <key>4_3_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{442,324},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>timer_up_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{134,134},{130,130}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{130,130}}</string>
            <key>sourceSize</key>
            <string>{130,130}</string>
        </dict>
        <key>1_1_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{322,312},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>timer_4.png</key>
        <dict>
            <key>frame</key>
            <string>{{362,382},{34,22}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{34,22}}</string>
            <key>sourceSize</key>
            <string>{34,22}</string>
        </dict>
        <key>timer_9.png</key>
        <dict>
            <key>frame</key>
            <string>{{398,362},{34,22}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{34,22}}</string>
            <key>sourceSize</key>
            <string>{34,22}</string>
        </dict>
        <key>3_2_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{266,224},{40,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{40,36}}</string>
            <key>sourceSize</key>
            <string>{40,36}</string>
        </dict>
        <key>4_0_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{448,286},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>timer_3.png</key>
        <dict>
            <key>frame</key>
            <string>{{362,358},{34,22}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{34,22}}</string>
            <key>sourceSize</key>
            <string>{34,22}</string>
        </dict>
        <key>2_3_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{202,350},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>timer_down_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{2,112},{130,130}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{130,130}}</string>
            <key>sourceSize</key>
            <string>{130,130}</string>
        </dict>
        <key>timer_5.png</key>
        <dict>
            <key>frame</key>
            <string>{{488,286},{22,34}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{22,34}}</string>
            <key>sourceSize</key>
            <string>{22,34}</string>
        </dict>
        <key>timer_up_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{476,62},{26,112}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{26,112}}</string>
            <key>sourceSize</key>
            <string>{26,112}</string>
        </dict>
        <key>timer_right_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{436,176},{68,32}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{68,32}}</string>
            <key>sourceSize</key>
            <string>{68,32}</string>
        </dict>
        <key>timer_left_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{432,62},{32,68}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{32,68}}</string>
            <key>sourceSize</key>
            <string>{32,68}</string>
        </dict>
        <key>timer_7.png</key>
        <dict>
            <key>frame</key>
            <string>{{38,244},{34,22}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{34,22}}</string>
            <key>sourceSize</key>
            <string>{34,22}</string>
        </dict>
        <key>remain.png</key>
        <dict>
            <key>frame</key>
            <string>{{482,324},{30,28}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{30,28}}</string>
            <key>sourceSize</key>
            <string>{30,28}</string>
        </dict>
        <key>1_1_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{162,312},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>2_2_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{162,350},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>4_2_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{122,350},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>4_1_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{42,350},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>2_1_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{82,350},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>1_2_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{2,350},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>1_0_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{362,320},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>1_0_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{2,312},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>head_bg.png</key>
        <dict>
            <key>frame</key>
            <string>{{266,134},{88,88}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{88,88}}</string>
            <key>sourceSize</key>
            <string>{88,88}</string>
        </dict>
        <key>3_3_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{368,244},{40,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{40,36}}</string>
            <key>sourceSize</key>
            <string>{40,36}</string>
        </dict>
        <key>timer_right_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{300,2},{130,130}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{130,130}}</string>
            <key>sourceSize</key>
            <string>{130,130}</string>
        </dict>
        <key>1_3_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{322,350},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>ready.png</key>
        <dict>
            <key>frame</key>
            <string>{{432,2},{68,58}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{68,58}}</string>
            <key>sourceSize</key>
            <string>{68,58}</string>
        </dict>
        <key>3_0_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{308,224},{40,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{40,36}}</string>
            <key>sourceSize</key>
            <string>{40,36}</string>
        </dict>
        <key>2_0_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{282,350},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>3_0_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{452,248},{40,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{40,36}}</string>
            <key>sourceSize</key>
            <string>{40,36}</string>
        </dict>
        <key>2_0_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{368,282},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>timer_left_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{168,2},{130,130}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{130,130}}</string>
            <key>sourceSize</key>
            <string>{130,130}</string>
        </dict>
        <key>timer_bg.png</key>
        <dict>
            <key>frame</key>
            <string>{{2,2},{164,108}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{164,108}}</string>
            <key>sourceSize</key>
            <string>{164,108}</string>
        </dict>
        <key>timer_down_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{356,134},{118,28}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{118,28}}</string>
            <key>sourceSize</key>
            <string>{118,28}</string>
        </dict>
        <key>4_0_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{242,350},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>3_1_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{410,248},{40,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{40,36}}</string>
            <key>sourceSize</key>
            <string>{40,36}</string>
        </dict>
        <key>2_3_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{82,312},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>3_3_1.png</key>
        <dict>
            <key>frame</key>
            <string>{{356,202},{40,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{40,36}}</string>
            <key>sourceSize</key>
            <string>{40,36}</string>
        </dict>
        <key>4_2_2.png</key>
        <dict>
            <key>frame</key>
            <string>{{282,312},{38,36}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{38,36}}</string>
            <key>sourceSize</key>
            <string>{38,36}</string>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room_pin.png</string>
            <key>size</key>
            <string>{512,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f09d9e7818c8c54a156cd46da28b2cbe$</string>
            <key>textureFileName</key>
            <string>room_pin.png</string>
        </dict>
    </dict>
</plist>
